[Unit]
Description=MX Master control service

[Service]
Type=simple
Environment="DISPLAY=:0"
ExecStart=/home/%u/.bin/mxcontrol --fw-down="/home/%u/.bin/win/fw-down.sh" --bk-down="/home/%u/.bin/win/bk-down.sh" --thumb-down="/home/%u/.bin/win/thumb-down.sh" --all-up="/home/%u/.bin/win/all-up.sh" --swap-middleclick

[Install]
WantedBy=multi-user.target