# Allow any seated user to access logitech hidraw devices for rw
SUBSYSTEM=="hidraw", DRIVERS=="logitech-hidpp-device", TAG+="uaccess", TAG+="udev-acl"
SUBSYSTEM=="hidraw", DRIVERS=="logitech-djreceiver", TAG+="uaccess", TAG+="udev-acl"
